.title{

    font: bold;
    font-size: 30;
    background-color: transparent;
    border-color: transparent;
}

TextView{

    font-size: 30;
    padding: 20px;
    background-color: transparent;
    border-color: transparent;
}

