<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <ActionBar title="Commande">
        <NavigationButton icon="res://ic_menu" (tap)="toggleDrawer()"></NavigationButton>
    </ActionBar>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideStackLayout">
            <Button text="S'enregistrer" class="sideLabel" (tap)="openLogin()"></Button>
            <Button text="Se connecter" class="sideLabel" (tap)="openLogin()"></Button>
        </StackLayout>
    </StackLayout>

    <StackLayout tkMainContent #container>
        <TabView>
            <StackLayout *tabItem="{title: 'Commande'}">
                <ScrollView>
                    <GridLayout class="m-8" rows="auto auto auto auto auto auto auto auto auto">
                        <Label row="0" text="Commande de ..."></Label>
                        <label row="1" text="Connecte toi pour ne pas avoir à tapper ton nom!"></label>
                        <TextField row="2" #name hint="Nom et prénom" keyboardType="text" [(ngModel)]="commande.name"></TextField>
                        <TextField row="3" #lieu hint="lieu" [(ngModel)]="commande.lieu"></TextField>
                        <CheckBox row="4" checked="true" #CB1 text="Le plus vite possible!" (tap)="plusVite()"></CheckBox>
                        <!--<DatePicker row="5" #datePicker (loaded)="configureD(datePicker)" verticalAlignment="center" *ngIf="showDate"></DatePicker>-->
                        <!--<TimePicker row="6" #timePicker (loaded)="configureT(timePicker)" verticalAlignment="center" *ngIf="showDate"></TimePicker>-->
                        <Button row="5" text="Date" class="submit-button" (tap)="createModelView('date')" *ngIf="showDate"></Button>
                        <Button row="6" text="Heure" class="submit-button" (tap)="createModelView('time')" *ngIf="showDate"></Button>
                        <TextField row="7" hint="nombre" keyboardType="number" [(ngModel)]="commande.nombre"></TextField>
                        <Button #nombreField row="8" text="Commander !" class="submit-button" (tap)="commander()"></Button>
                    </GridLayout>
                </ScrollView>

            </StackLayout>
            <StackLayout *tabItem="{title: 'infos'}">
                <ListView [items]="listeInfo" class="small-spacing" >
                    <template let-item="item">
                        <GridLayout class="list-group-item" rows="auto auto">
                            <Label row="0" [text]="item.title" class="medium-spacing"></Label>
                            <Label row="1" [text]="item.message" class="medium-spacing"></Label>
                        </GridLayout>
                    </template>
                </ListView>
                
                <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center"
                    verticalAlignment="center"></ActivityIndicator>

            </StackLayout>

        </TabView>
    </StackLayout>

</RadSideDrawer>